@layout('layouts.app')

@section('content')
<!--chat session-->
<section id='chat'>
    <ul id="messages"></ul>
    <form action="">
        <input id="message" autocomplete="off" />
        <button>Send</button>
    </form>
</section>

@endsection